<!doctype html>
<html>
<head>

    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href='/stylesheets/main.css'>
    <link href="/vis/dist/vis.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='/javascript/jquery-1.11.0.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>   
    <script src='/javascript/MediaStreamRecorder.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script> 
    <script src="/javascript/RecordRTC.js"></script>
    <script src="/javascript/peer.min.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js'></script>
    <script src='/javascript/main.js'></script>
    <script src='/javascript/adapter.js'></script>
    <script src='/javascript/socket.io.js'></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc.17.min.js"></script>
    <script src="/vis/dist/vis.js"></script>
</head>
<body>
    <div id="navi">
        <!--Top Navbar-->
        <a href="/home"><img id="home-logo" src="/images/logo3.png"></a> 

        <nav class="navbar" role="navigation">
          <div class="container">
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">SoundBoard</a>
            </div> -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="tab">
                        <h3><a href="/about">about</a></h3>
                    </li>
                    <li class="tab">
                        <h3><a href="/help">help</a></h3>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- <li id="login">
                        <a href="/login">Login</a>
                    </li> -->
                    <li class="tab" id="profile">
                        <h3><a href="/profile">profile</a></h3>
                    </li>
                    <li class="tab" id="logout">
                        <h3><a href="#">logout</a></h3>
                    </li>
                </ul>
            </div>  
          </div>
        </nav>
    </div>
    {{{body}}}

</body>
</html>