<!doctype html>
<html>
<head>

    <meta charset="utf-8" />
    <title>{{title}}</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>   
	<script src='/javascripts/MediaStreamRecorder.js'></script>
    <script src='/javascripts/adapter.js'></script>
    <script src='/javascripts/socket.io.js'></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

</head>
<body>

    {{{body}}}

</body>
</html>