<!doctype html>
<html>
<head>

    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href='/stylesheets/main.css'>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='/javascript/jquery-1.11.0.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>   
    <script src='/javascript/MediaStreamRecorder.js'></script>
    <script src="http://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src='/bootstrap/js/bootstrap.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script> 
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js'></script>
</head>
<body>

    <!--Top Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">SoundBoard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="tab">
                    <a href="/about">About</a>
                </li>
                <li class="tab">
                    <a href="/help">Help</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="login">
                    <a href="/login">Login</a>
                </li>
                <li id="logout">
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>  
      </div>
    </nav>

    {{{body}}}

</body>
</html>