<h1>Help</h1>

 <div class="jumbotron">
      <h2>Welcome to SoundBoard</h2>
      <h4>SoundBoard allows you to connect with other fellow musicians to critique each other's music online! Click on an online user to get started.</h4>
 </div>