<div id="profile-content" class="container">
    <h1> Help </h1>
    <div id="user_info">
        <h4>SoundBoard connects you to other musicians so you can learn from each other. <br><br>Perform live for each other and exchange your feedback. </h4>
        <br>
        <h4>Need help? Contact us at <a href="#">help@soundboard.com</a>.</h4>
    </div>
    <h3 >><a href="/home">Go home!</a></h3>
</div>