<div class="container">
	<div class="jumbotron">
		<h1>Welcome to SoundBoard</h1>
		<p>SoundBoard allows you to...</p>
		<p>Don't have an account?</p>
		<a class="btn btn-lg btn-primary" href="#" role="button">Join now</a>
	</div>
</div>
