body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body-container {
	padding-top: 10px;
}

.tab:hover {
	color: white;
	background: #B6FFDD;
}

.side-nav {
	padding-top: 30px;
	width: 120px;
}

.outer {
	float: left;
}

.inner {
	float: left;x
}