body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body-container {
	padding-top: 10px;
}

.tab:hover {
	color: white;
	background: #B6FFDD;
}

.side-nav {
	padding-top: 30px;
	width: 120px;
}

.outer {
	position:absolute;
	top:0;
	left:0;
	width:75%;
	height:500px;
	background-color: red; 
	outline-width: 30px;
	outline-color: black;
}

.inner {
	position:absolute;
	bottom:150px;
	left:0;
	width:20%;
	height:180px;
	background-color: blue;
	position: absolute;
	outline-width: 30px;
	outline-color: black;
	z-index: 3;
}

.up {
	background-image: -webkit-linear-gradient(top,#7AFF95,#63CF79 100%);
}

.up:hover {
	background-image: -webkit-linear-gradient(top,#63CF79,#7AFF95 100%);
}

.down {
	background-image: -webkit-linear-gradient(top,#FF6042,#B2432E 100%);
}

.down:hover {
	background-image: -webkit-linear-gradient(top,#B2432E,#FF6042 100%);
}

.tag-pair {
	padding-right: 20px;
	padding-top: 10px;
}

.tags {
	width:100%;
	text-align: center;
}

#start_session {
	margin: 0 auto 0 auto;
	position: relative;

}

.modal-body {
	margin-left: 100px;
   	margin-right: auto;
}


#logging_in, #waiting_response{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #aaaaaa;
  text-align: center;
  background-color:rgba(30,30,30,0.7);
	z-index:10;
}

#log_text, #waiting_text{
  position:absolute;
  left:450px;
  top:200px;
  color:white;
  z-index:11;
  font-size:24px;
}

.indivCritiques{
	padding:10px;
}

.negative{
	background-color:#FB5772;
}

.positive{
	background-color:#32CD32;
}

#critiques{
	position: absolute;
	right: 0;
	height: 100%;
	top: 50px;
	width: 25%;
	border-left: 2px #aaaaaa solid;
	z-index: 1;
}

#critique_text{
	position: absolute;
	right: 0;
	width: 25%;
	font-size: 15px;
	padding: 10px;
	outline: none;
	border-left: 2px #aaaaaa solid;
	bottom: 0;
	z-index: 1;
}

#waiting_critique{
	position: absolute;
	right: 0;
	top:50px;
	width: 25%;
	height:100%;
	background-color:rgba(30,30,30,0.8);
	z-index: 2;
}

#button-panel{
	position:absolute;
	bottom:0;
	left:0;
	width:75%;
	height:150px;
	margin:0;
	background-color: #cccccc;
	padding: 0 20px 20px;
	z-index: 1;
}

#waiting_button-panel{
	position:absolute;
	bottom:0;
	left:0;
	width:75%;
	height:150px;
	margin:0;
	background-color:rgba(30,30,30,0.8);
	z-index: 2;
	padding:50px 150px;
	font-size: 24px;
	color: white;
}

#start_session{
	top: 300px;
	left: 280px;
}

.btn.down, .btn.up{
	text-shadow:none;
	border-radius: 4px
}

.video-container {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 10px;
}

.outer-video {
	position: absolute;
	top: 20px;
	width: 480px;
	margin-left: auto;
 	margin-right: auto;
 	display: table;
}

.inner-video {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 160px;
	z-index: 2;
}

#critique_video {
	position: absolute;
	top: 0px;
	left: 200px;
	width: 400px;
}

#active_critique{
	background: white;
	position: absolute;
	top: 300px;
	left: 200px;
	text-align: center;
	width: 400px;
}

#exit {
	float: right;
}

.memo {
	width: 300px;
}

p.memo {
	font-size: 30px;
}
