body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body-container {
	padding-top: 10px;
}

.tab:hover {
	color: white;
	background: #B6FFDD;
}

.side-nav {
	padding-top: 30px;
	width: 120px;
}

.outer {
	position:absolute;
	top:0;
	left:0;
	width:75%;
	height:500px;
	background-color: red; 
	outline-width: 30px;
	outline-color: black;
}

.inner {
	position:absolute;
	bottom:150px;
	left:0;
	width:20%;
	height:180px;
	background-color: blue;
	position: absolute;
	outline-width: 30px;
	outline-color: black;
	z-index: 3;
}

.up {
	background-image: -webkit-linear-gradient(top,#7AFF95,#63CF79 100%);
}

.up:hover {
	background-image: -webkit-linear-gradient(top,#63CF79,#7AFF95 100%);
}

.down {
	background-image: -webkit-linear-gradient(top,#FF6042,#B2432E 100%);
}

.down:hover {
	background-image: -webkit-linear-gradient(top,#B2432E,#FF6042 100%);
}

.tag-pair {
	padding-right: 20px;
	padding-top: 10px;
}

.tags {
	width:100%;
	text-align: center;
}

.modal-body {
	margin-left: 100px;
   	margin-right: auto;
}


#logging_in, #waiting_response, #practice_container{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #aaaaaa;
  text-align: center;
  background-color:rgba(30,30,30,0.7);
	z-index:10;
}

#log_text, #waiting_text{
  position:absolute;
  left:450px;
  top:200px;
  color:white;
  z-index:11;
  font-size:24px;
}

.indivCritiques{
	width:10px;
	height:100px;
}


.vis.timeline .item.comp{
	background-color: green;
}

.vis.timeline .item.comment{
	background-color: #BFEFFF;
}

.vis.timeline .item.suggest{
	background-color: red;
}


#critiques{
	margin:0 auto;
	bottom: 0px;
	width: 600px;
}

#critiques_wrapper{
	bottom: 10px;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	left: 0;
}

#critique_text{
	position: absolute;
	right: 0;
	width: 25%;
	font-size: 15px;
	padding: 10px;
	outline: none;
	border-left: 2px #aaaaaa solid;
	bottom: 0;
	z-index: 1;
}

#waiting_critique{
	position: absolute;
	right: 0;
	top:50px;
	width: 25%;
	height:100%;
	background-color:rgba(30,30,30,0.8);
	z-index: 2;
}

#button-panel{
	position:absolute;
	bottom:0;
	left:0;
	width:75%;
	height:150px;
	margin:0;
	background-color: #cccccc;
	padding: 0 20px 20px;
	z-index: 1;
}

#start_session{
	top: 300px;
	margin-left: 40%;
	position: absolute;
	margin-top: 10%;
}

.btn.down, .btn.up{
	text-shadow:none;
	border-radius: 4px
}


.video-container {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 10px;
}

.outer-video {
	position: absolute;
	top: 20px;
	width: 480px;
	margin-left: auto;
 	margin-right: auto;
 	display: table;
}

.inner-video {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 160px;
	z-index: 2;
}

/*#their-video-m{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}*/

#practice_text{
	vertical-align: middle;
	text-align: center;
}

/*#my-video {
	position: absolute;
	top: 50px;
	width: 200px;
	left: 20px;
}

#their-video, #critique_video {
	position: absolute;
	top: 0px;
	left: 200px;
	width: 400px;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 450px;
}*/

/*#their-video {
    position: absolute;
    top: 0px;
    left: 350px;
    width: 200px;
    height: 450px;
}

#my-video {
    position: absolute;
    top: 0px;
    left: -550px;
    width: 200px;
    height: 450px;
}*/

#critique_video {
	position: absolute;
	top: 0px;
	left: 200px;
	/*width: 400px;*/
	top: 50px;
	left: 0px;
	/*width: 100%;*/
	height: 450px;
	left: 50%;
	margin-left: -300px;
}*/


#active_critique{
	background: white;
	position: absolute;
	top: 300px;
	left: 200px;
	text-align: center;
	width: 400px;
}

.memo {
	width: 300px;
}

p.memo {
	font-size: 30px;
}

/*#waiting_button-panel{
	position:absolute;
	bottom:0;
	left:0;
	width:75%;
	height:150px;
	margin:0;
	background-color:rgba(30,30,30,0.8);
	z-index: 2;
	padding:50px 150px;
	font-size: 24px;
	color: white;
}*/

#comment-container {
	width: 400px;
}

div#comment-panel {
	position: absolute;
	width: 480px;
	height: 40px;
	top: 390px;
	display: inline-block;
	z-index: 4;
}

div#comment-panel p {
	text-align: center;
	margin-top: 10px;
	width: 160px;
}

#compliment {
	width: 160px;
	height: 40px;
	background-color: #18E1FF;
	/*display: inline-block; */
}

#comment {
	width: 160px;
	height: 40px;
	background-color: #FFF65F;
	/*display: inline-block;*/
	margin-left: -5px;
}

#suggestion {
	width: 160px;
	height: 40px;
	background-color: #FF483F;
	/*display: inline-block;*/
	margin-left: -5px;
}

#option1 {
	background-color: green;
}

#option2 {
	background-color: #BFEFFF;
}

#option3 {
	background-color: red;
}

.expanded textarea{
	background: transparent;
	border: none;
	outline: none;
	width: 160px;
}

.btn-group .btn-group-justified {
	width: 160px;
}

#waiting_comment-panel {
	position: absolute;
	right: 1.5%;
	width: 30%;
	height: 205px;
	z-index: 6;
	background-color:rgba(30,30,30,0.9);
	top: 5%;
}


#waiting_comment-panel p {
	color: white;
	font-size: 18px;
	position: absolute;
	margin-left: 7%;
	margin-top: 20%;
}

#text-entry {
	position: absolute;
	right: 1.5%;
	width: 30%;
	top: 5%;
}

#text-entry textarea {
	width: 100%;
	height: 50%;
}

#radios {
	position: absolute;
	left: 0;
	width: 100%;
	padding-top: 20px;
}

#radios p {
	font-size: 16px;
}

#buttons {
	width: 100%;
	display: inline-block;
}

#submission-options {
	width: 100%;
}

#buttons #options {
	width: 50%;
	height: 10%;
}

#options button {
	width: 33%;
}

#exit {
	position: absolute;
	top: 550px;
}

#settings {
	position: absolute;
	width: 20%;
	margin-top: 20%;
	background-color: red;
}


#settings p {
	font-size: 16px;
}
