<input type="file" accept="video/*;capture=camcorder">

<script>
	var critiquer_id = {{critiquer_id}};
	var musician_id  = {{musician_id}};
</script>
<script src='/javascripts/practice_session.js'></script>
<div class="pure-u-2-3" id="video-container">
    <video id="their-video" autoplay=""></video>
    <video id="my-video" muted="true" autoplay=""></video>
</div>