<input type="file" accept="video/*;capture=camcorder">
<input id='critiquer_id' hidden value={{critiquer_id}}>

<script src='/javascript/practice_session.js'></script>

{{#if if_musician}}
	<div class="pure-u-2-3" id="video-container">
	    <video class="outer" id="my-video" muted="true" autoplay=""></video>
	    <video class="inner" id="their-video" autoplay=""></video>
	</div>
	<image>
		<input id='start_session' type='file' accept='vide/*;capture=camcorder;'>
{{else}}
	<div class="pure-u-2-3" id="video-container">
	    <video class="inner"id="my-video" muted="true" autoplay=""></video>
	    <video class="outer" id="their-video" autoplay=""></video>
	</div>
{{/if}}
