<script src='javascript/main.js'></script>

Welcome back <span id="username"></span>

<button id="logout">logout</button>
<script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js'>
</script>