<script src='javascript/users.js'></script>
<h1>Please login</h1>
<div class="login_credentials">
        <input type="email" class="form-control" id="login_email" placeholder="Email">
        <input type="password" class="form-control" id="login_password" placeholder="Password">
        <button id="login_user">Login</button>

        <a href="/register">Create Account</a>
</div>

<script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js'>
</script>