<script src='javascript/users.js'></script>
 
<div id="login-content" class="container-fluid">

  <div id="login-top">
    <img id="logo" src="/images/logo3.png">
    <div class="login_credentials">
       <input type="text" class="login-field form-control" id="reg_userName" placeholder="Username">
        <input type="email" class="login-field form-control" id="reg_email" placeholder="Email">
        <input type="password" class="login-field form-control" id="reg_password" placeholder="Password">
        <input type="password" class="login-field form-control" id="reg_password_conf" placeholder="Confirm your password">
        <input type="text" class="login-field form-control" id="reg_instrument" placeholder="Instrument you play (e.g. voice, piano, violin, etc.)">
        <button class="btn btn-lg" id="register_user">Register</button>

        <p id="create_account"><a href="/login">Already have an account? Login here.</a></p>
    </div>
    <div id="register-box"></div>
  </div>

</div>

<script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js'>
</script>