<script src='javascripts/users.js'></script>
<h1>Please Create an Account</h1>
<div class="register">
        <input type="email" class="form-control" id="reg_email" placeholder="Email">
        <input type="password" class="form-control" id="reg_password" placeholder="Password">
        <input type="password" class="form-control" id="reg_password_conf" placeholder="Confirm your password">
        <button id="register_user">Create Account</button>

        <a href="/login">Already have an account? Login here.</a>
</div>

<script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js'>
</script>