
<h2>Welcome back, {{user_id}}</h2>
<div class="side-nav">
	<ul class="nav nav-pills nav-stacked">
	  <li><a href="#">My rehearsals</a></li>
	  <li><a href="#">My critiques</a></li>
	  <li><a href="#">Messages</a></li>
	</ul>
</div>
